.main {
  padding: 1rem;
}

.header {
  padding: 0.75rem 1rem;
}

.header a {
  text-decoration: none;
}

.nav {
  padding: 0 1rem;
  display: block;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul a {
  display: block;
  padding: 0.75rem 1.25rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav ul a.active {
  border-bottom: solid 2px #00aeef;
}
